body {
    background-color: #00ff00;
}

ul {
    list-style-type: none;
    padding: 5px 10px;
}

li {
    margin: 2px;
    padding: 5px;
}

input {
    width: 200px;
    height: 100px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    background: aqua;
    margin: 5px;
    padding: 5px;
}

.form-group {
    margin-bottom: 5px;
}

.img-burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
