body{
  background-color: #00ff00;
}
ul {
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 10px 20px;
}
li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}
input{
  width: 200px;
  height: 100px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}

